/* Background pattern from Subtle Patterns */

body {

	
}

html, body {
	height: 100%;
}

hr {
 
	 height: 2px; 


}

.main-navbar {
	background: rgba(0,0,0,1);	
}

.buy-section {

	padding-bottom: 5%;
}

.trade-show-links {
	padding-top: 5%;
}

.commitments-slide {
	height: 100%;
	padding-left: 0;
	padding-right: 0; 
	margin-left: 0;
	margin-right: 0;
}



.sectional-header {
	padding-top: 4%;
	padding-bottom: 4%;
}

#productCarousel { 
	padding: 0;
	margin: 0;
}


.radio-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.radio-carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}

.radio-carousel-indicators li:hover {
	border: 1px solid #fff;
 	background: #fff;
}

.donations-carousel .radio-carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
}

.donations-carousel .radio-carousel-indicators li:hover {
	border: 1px solid black;
 	background: black;
}

.donations-carousel .radio-carousel-indicators li.active {
	border: 1px solid black;
 	background: black;
}

.charity-container {
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: black;
	color: #FCFAFF;
}

.contact-us {
	padding-bottom: 5%;
}

footer {
	padding-top: 5%;
}

.main-footer {
	color: #FCFAFF;
}

.sitemap-list {
	margin: 0;
	padding: 0;
}

.sitemap-list li {
	list-style-type: none;
}

.team-photo {
		min-height: 180px;
		max-height: 1080px;
		background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/LE8PCMM4GS.jpg");
		background-size: cover;
		background-repeat: no-repeat;	
		height: 100%;
}

.team-member-photo {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}


.commit-icon {
	font-size: 6em;
}

.commitment-icon-container {
	padding-top: 2%;
	padding-bottom: 4%;
}

.parallax {
	background-attachment: fixed;

    background-repeat: no-repeat;
    background-size: cover;
}

.white-background {
	background-color: white;
}

.ja-section {
	padding-top: 2%;

}

.company-title {
	background: rgba(0,0,0,0.0);
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.company-logo {
	/*background-image: url("../img/lumiere-logo.png");
	width: 637px;
	height: 263px;*/
	
	
}

.company-logo h1 {
	font-family: Megrim;
	font-size: 16em;
}

.donations-carousel .company-logo h1{
	font-size: 8em;
	float: right;
}

.commitments {
	height: 100%;
}

.commitments .carousel {
	height:100%;
}

.commitments .carousel-inner {
	height:100%;
}


.commitments .charity-carousel-container {
	padding-top: 0;
	padding-bottom: 0;
	height:100%;
}

.commitments .charity {
	height: 100%;
	padding-top:5%;
	padding-bottom: 5%;
	padding-left: 5%;
	background-color: black;
	color: #FCFAFF;
	
}

.donations-carousel .carousel-control {
	width: 5%;
}

.donations-charity {

	height: 100%;

}


.donations-charity .donations-title {
	padding-bottom: 2%;
}

.donations-carousel {
	height: 65%;
}


.donations-charity .carousel-item {

}

.donations-charity .donations-charity-content {
	padding-top: 5%;
}

.donations-charity .charity-video {
	left: 0;
	padding-left: 0;
	margin-left: 0;
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; overflow: hidden; 
	max-width: 100%; height: auto;  
}

.charity-video iframe, .charity-video object, .charity-video embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.charity-text {
	height: 100%;
	padding-top: 5%;
}

@media(min-width:768px) {
	.section {
		padding-left: 5%;
		padding-right: 5%;
	}	
	
	.main-navbar {
		background: rgba(0,0,0,0.0);
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		padding: 30px;
	}

	.main-navbar.affix {
		background: rgba(0,0,0,0.7);
		padding: 15px;
	}

	.commitments-slide {
		height: 100%;
	}

	.charity-carousel-container {
		padding-top: 8%;
		padding-bottom: 4%;
	}
}

@media(min-width:1024px) {
	.section {
		padding-left: 15%;
		padding-right: 15%;
	}	
	
	.main-navbar {
		background: rgba(0,0,0,0.0);
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		padding: 30px;
	}

	.main-navbar.affix {
		background: rgba(0,0,0,0.7);
		padding: 15px;
	}

	.commitments-slide {
		height: 500px;
	}	
}

@media(min-width:1900px) {
	.commitments-slide {
		height: 100%;

	}

	.charity-carousel-container {
		padding-top: 5%;
		padding-bottom: 4%;
	}
}

@media(min-height:768px) {
	.team-photo {
		min-height: 620px;
		max-height: 1080px;
		height: 100%;
	}
}