/* Background pattern from Subtle Patterns */
html, body {
	height: 100%;
}

hr {
	height: 2px; 
}

.main-navbar {
	background: rgba(0,0,0,1);	
	font-size: 1.25em;
}

.main-navbar .navbar-brand {
	font-family: Megrim;
	font-size: 3em;
}

.front-image {
	background-image: url("../img/card3.png");
	background-size: cover;
	background-repeat: no-repeat; 
	
	height: 100%;
	width: 100%;
	margin: auto;
	position: relative;
}

.front-image .front-title {
	position: absolute;
	bottom: 60%;
	text-align: left;
	left: 10%;
	
}

.front-image .front-title h1 {
	font-family: Megrim;
	font-size: 8em;
}

.front-image .front-title h2 {
	position: absolute;
	font-size: 1.5em;
	left: 2%;
}


.facts-wrapper {
	position: absolute;
	background-color: ;
	height: 20%;
	bottom: 0;
	padding-top: 2%;
	left: 0;
	width: 100%;

	/*background: -moz-linear-gradient(toop,  rgba(137,137,137,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,137,137,0)), color-stop(100%,rgba(0,0,0,1))); 
    background: -webkit-linear-gradient(top,  rgba(137,137,137,0) 0%,rgba(0,0,0,1) 100%); 
    background: -o-linear-gradient(top,  rgba(137,137,137,0) 0%,rgba(0,0,0,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(137,137,137,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,1) 100%); 
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 );*/ 
}


.facts {
	padding-top: 0.5%;
    font-size: 1.5em;
    /*bottom: 0;
    position: absolute;
    */
}

.front-image .gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width:100%;
    height:12.5%; 
}

.front-info {
	height: 20%;
	width: 100%;
	margin: auto;
	position: absolute;
	bottom: 20%;
	background-color: black;
	left: 0;
	right: 0;
}

.front-info .row {
	height: 50%;
	width: 100%;
	margin: auto;
	position: relative;

}

.front-info .card {
	border-radius: 15px;
}

.front-info .col-2 {
	max-height: 100%;
}

.front-info .big-info {
	background-color: white;

	height: 100%;
}

.front-info .info-icon {
	text-align: center;
	/*max-height: 46.5%;*/
	height: 100%;
}

@media(min-width:768px) {

}

@media(min-width:1024px) {
	
}

.showcase {
	padding-left: 0;
	padding-right: 0;
	height: 150%;
	width: 100%;
}

.wizardry {
	position: relative;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat; 
	background-size: 60%;
	background-position: center;


	height: 66%;
	width: 100%;

}

.logo-image {
	

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.showcase .logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.showcase .product-image-wrapper {
	height: 40%;
	width: 100%;
}





.front-carousel {
	height: 90%;
}

.front-carousel .carousel-inner {

}

.front-carousel {

}

.front-carousel .slide1 {
	background-image: url('../img/temp2.jpg');

}

.front-carousel .slide2 {
	background-image: url('../img/temp2.jpg');

}

.front-carousel .slide3 {
	background-image: url('../img/temp2.jpg');

}

.front-carousel .carousel-inner{
	height: 100%;

}



.front-carousel

.buy-section {

	padding-bottom: 5%;
}

.trade-show-links {
	padding-top: 5%;
}

.commitments-slide {
	height: 100%;
	padding-left: 0;
	padding-right: 0; 
	margin-left: 0;
	margin-right: 0;
}



.sectional-header {
	padding-top: 4%;
	padding-bottom: 4%;
}

#productCarousel { 
	padding: 0;
	margin: 0;
}


.radio-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.radio-carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}

.radio-carousel-indicators li:hover {
	border: 1px solid #fff;
 	background: #fff;
}

.donations-carousel .radio-carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
}

.donations-carousel .radio-carousel-indicators li:hover {
	border: 1px solid black;
 	background: black;
}

.donations-carousel .radio-carousel-indicators li.active {
	border: 1px solid black;
 	background: black;
}

.charity-container {
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: black;
	color: #FCFAFF;
}

.contact-us {
	padding-bottom: 5%;
}

footer {
	padding-top: 5%;
}

.main-footer {
	color: #FCFAFF;
}

.sitemap-list {
	margin: 0;
	padding: 0;
}

.sitemap-list li {
	list-style-type: none;
}

.team-photo {
		background-image: url("../img/team.jpg");
		background-size: cover;
		background-repeat: no-repeat;	
		height: 100%;
}

.team-member-photo {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}


.commit-icon {
	font-size: 6em;
}

.commitment-icon-container {
	padding-top: 2%;
	padding-bottom: 4%;
}

.parallax {
	background-attachment: fixed;

    background-repeat: no-repeat;

}

.white-background {
	background-color: white;
}

.ja-section {
	padding-top: 2%;

}

.company-title {
	background: rgba(0,0,0,0.0);
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.company-logo {
	/*background-image: url("../img/lumiere-logo.png");
	width: 637px;
	height: 263px;*/
	
	
}

.company-logo h1 {
	font-family: Megrim;
	font-size: 4em;
}

.commitments {
	height: 100%;
}

.commitments .carousel {
	height:100%;
}

.commitments .carousel-inner {
	height:100%;
}


.commitments .charity-carousel-container {
	padding-top: 0;
	padding-bottom: 0;
	height:100%;
}

.commitments .charity {
	height: 100%;
	padding-top:5%;
	padding-bottom: 5%;
	padding-left: 5%;
	background-color: black;
	color: #FCFAFF;
	
}

.donations-carousel .carousel-control {
	width: 5%;
}

.donations-charity {

	height: 100%;

}


.donations-charity .donations-title {
	padding-bottom: 2%;
}

.donations-carousel {
	height: 180%;
}


.donations-charity .carousel-item {

}

.donations-charity .donations-charity-content {
	padding-top: 5%;
}

.donations-charity .charity-video {
	left: 0;
	padding-left: 0;
	margin-left: 0;
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; overflow: hidden; 
	max-width: 100%; height: auto;  
}

.charity-video iframe, .charity-video object, .charity-video embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.charity-text {
	height: 100%;
	padding-top: 5%;
}

@media(min-width: 350px) {
	/*.donations-carousel {
		height: 135%;
	} */

}

@media(min-width:768px) {
	.front-carousel {
	}

	.scroll-btn {
		position: absolute;
		bottom: 20px;
		left: 50%;
		z-index: 2;
		display: inline-block;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
		color: #fff;
		font : normal 400 20px/1 'Josefin Sans', sans-serif;
		letter-spacing: .1em;
		text-decoration: none;
		transition: opacity .3s;
	}

	.scroll-btn:hover {
		opacity: .5;
	}

	.section {
		padding-left: 5%;
		padding-right: 5%;
	}

	.ja-section {
		padding-top: 5%;
	}

	.donations-carousel {
		height: 90%;
	}	

	.company-logo h1 {
		font-family: Megrim;
		font-size: 12em;
	}

	.donations-carousel {
		height: 180%;
	}
	
	.donations-carousel .company-logo h1{
	
	}

	.main-navbar {
		background: rgba(0,0,0,0.0);
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		padding: 30px;
	}

	.main-navbar.affix {
		background: rgba(0,0,0,0.7);
		padding: 15px;
	}

	.commitments-slide {
		height: 100%;
	}

	.charity-carousel-container {
		padding-top: 8%;
		padding-bottom: 4%;
	}
}

@media(min-width:1024px) {
	.carousel-fade .carousel-inner .item {
	  opacity: 0;
	  -webkit-transition-property: opacity;
	  -moz-transition-property: opacity;
	  -o-transition-property: opacity;
	  transition-property: opacity;
	}
	.carousel-fade .carousel-inner .active {
	  opacity: 1;
	}
	.carousel-fade .carousel-inner .active.left,
	.carousel-fade .carousel-inner .active.right {
	  left: 0;
	  opacity: 0;
	  z-index: 1;
	}
	.carousel-fade .carousel-inner .next.left,
	.carousel-fade .carousel-inner .prev.right {
	  opacity: 1;
	}
	.carousel-fade .carousel-control {
	  z-index: 2;
	}
	
	.section {
		padding-left: 15%;
		padding-right: 15%;
	}	
	
	.main-navbar {
		background: rgba(0,0,0,0.0);
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		padding: 30px;
	}

	.main-navbar.affix {
		background: rgba(0,0,0,0.7);
		padding: 15px;
	}

	.commitments-slide {
		height: 500px;
	}	

	.company-logo h1 {
		font-family: Megrim;
		font-size: 12em;
	} 

	.donations-carousel {
		height: 90%;
	}
}

@media(min-width:1900px) {
	.commitments-slide {
		height: 100%;

	}

	.charity-carousel-container {
		padding-top: 5%;
		padding-bottom: 4%;
	}

	.company-logo h1 {
		font-family: Megrim;
		font-size: 16em;
	}

	.donations-carousel {
		height: 65%;
	}
}

@media(min-height:768px) {
	.team-photo {

		height: 100%;
	}
}