/* Background pattern from Subtle Patterns */
html, body {
	height: 100%;
}

hr {
	height: 2px; 
}

footer {
	width: 100%;
}

footer a {
	color: inherit;
}

footer a:hover {
	color: inherit;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
	text-decoration: none;
}



.donations-carousel .radio-carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 10px;
}

.donations-carousel .radio-carousel-indicators li:hover {
	border: 1px solid white;
 	background: white;
}

.donations-carousel .radio-carousel-indicators li.active {
	border: 1px solid white;
 	background: white;
}

.no-style-link {
	color: inherit;
	width: 100%;
}


.main-navbar {
	background: #CC231E;	
	font-size: 1em;
}

.main-navbar .navbar-brand {
	font-family: Megrim;
	font-size: 3em;
}

.front-image {
	background-image: url("../img/card3.png");
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: center;	
	
	height: 100%;
	width: 100%;
	margin: auto;
	position: relative;
}

.front-image .bg-gradient {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0.0) 100%); 
}

.front-image .front-title {
	position: absolute;
	bottom: 60%;
	text-align: left;
	left: 10%;
	
}

.front-image .front-title h1 {
	font-family: Megrim;
	font-size: 8em;
}

.front-image .front-title h2 {
	position: absolute;
	font-size: 1.5em;
	left: 2%;
}

.facts-gradient {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.6) 100%);
}

.facts-wrapper {
	position: absolute;

	bottom: 0;
	padding-bottom: 0;
	left: 0;
	max-height: 20%;
	width: 100%;
}


.facts {
    font-size: 1em;
    /*bottom: 0;
    position: absolute;
    */
}

.front-image .gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width:100%;
    height:12.5%; 
}

.front-info {
	width: 100%;
	margin: auto;
	position: absolute;
	position: fixed;
	bottom: 25%;
	background-color: #CC231E;
	left: 0;
	right: 0;
}

.front-info .big-info {

}

.front-info .info-icon {
	text-align: center;
	max-height: 46.5%;
}

.icon-wrapper h3 {
	font-size: 1.25em;
}

.icon-wrapper p {
	font-size: 0.75em;
}



.showcase {
	padding-left: 0;
	padding-right: 0;
	height: 150%;
	width: 100%;
	background-color: #FCFAFF;
	color: black;
}

.wizardry {
	position: relative;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat; 
	background-size: 30%;
	background-position: center;


	height: 66%;
	width: 100%;

}

.logo-image {
	

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.showcase .logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.showcase .product-image-wrapper {
	height: 80%;
	width: 100%;
	padding-bottom: 5%;
	background-color: #FCFAFF;
}

.showcase .product-image {
	height: 100%;
	width: 100%;
	background-image: url("../img/product.png");
	background-size: auto 100%;
	background-repeat: no-repeat; 
	background-position: top;
}

.product-description-wrapper {
	height: 50%;
	width: 100%;
	margin: 0;
	background-color: #FCFAFF;
}

.product-description-wrapper h1 {
	font-size: 8em;
}

.product-description-wrapper h3 {
	font-size: 2.5em;
}

.commercial {
	text-align: center;
	background-color: #FCFAFF;
	height: 55%;
	position: relative;
	padding-top: 0%;
}

.commercial iframe h3{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}


.team-photo {
	position: relative;
	background-image: url("../img/team.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
	height: 100%;
}

.team-member-photo {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.team-photo .card{
	background-color: rgba(255, 255, 255, .5);

}

.team-photo .col-md-3{
	padding-left: 2%;
	padding-right: 2%;
	
}

.logo {
	font-family: Megrim;
	font-size: 6em;
}


.front-carousel {
	height: 90%;
}

.front-carousel .carousel-inner {

}

.front-carousel {

}

.front-carousel .slide1 {
	background-image: url('../img/temp2.jpg');

}

.front-carousel .slide2 {
	background-image: url('../img/temp2.jpg');

}

.front-carousel .slide3 {
	background-image: url('../img/temp2.jpg');

}

.front-carousel .carousel-inner{
	height: 100%;

}

.faicon {
	font-size: 30px;
}

.contact-us {
	color: #FCFAFF;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #F5624D;
}

.charity-cover {
	background-color: black;
	color: white;
	
}

.charity-cover-text {
	padding-top: 10%;

}

.charity-cover-text h1 {
	font-size: 3em;
}

.donations-carousel {
	height: 80%;
}
.donations-charity {
	height: 80%;
}

.donations-charity .charity-video {
	left: 0;
	padding-left: 0;
	margin-left: 0;
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; overflow: hidden; 
	max-width: 100%; height: auto;  
}

.charity-video iframe, .charity-video object, .charity-video embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.charity-text {
	height: 100%;
	padding-top: 5%;
}

.buy-photo {
	position: relative;
	background-image: url("../img/card2.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
	height: 100%;
}

@media(min-width:768px) {
	.scroll-btn {
		position: absolute;
		bottom: 20px;
		left: 50%;
		z-index: 2;
		display: inline-block;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
		color: #fff;
		font : normal 400 20px/1 'Josefin Sans', sans-serif;
		letter-spacing: .1em;
		text-decoration: none;
		transition: opacity .3s;
	}

	.scroll-btn:hover {
		opacity: .5;
	}
}

@media(min-width:1900px) {
	.donations-carousel {
		height: 60%;
	}
	.donations-charity {
		height: 60%;
	}

}



.front-carousel

.buy-section {

	padding-bottom: 5%;
}

.trade-show-links {
	padding-top: 5%;
}

.commitments-slide {
	height: 100%;
	padding-left: 0;
	padding-right: 0; 
	margin-left: 0;
	margin-right: 0;
}



.sectional-header {
	padding-top: 4%;
	padding-bottom: 4%;
}

#productCarousel { 
	padding: 0;
	margin: 0;
}


.radio-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.radio-carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}

.radio-carousel-indicators li:hover {
	border: 1px solid #fff;
 	background: #fff;
}



.charity-container {
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: black;
	color: #FCFAFF;
}




.main-footer {
	color: #FCFAFF;
	background-color: #CC231E;
}

.sitemap-list {
	margin: 0;
	padding: 0;
}

.sitemap-list li {
	list-style-type: none;
}




.commit-icon {
	font-size: 6em;
}

.commitment-icon-container {
	padding-top: 2%;
	padding-bottom: 4%;
}

.parallax {
	background-attachment: fixed;

    background-repeat: no-repeat;

}

.white-background {
	background-color: white;
}

.ja-section {
	padding-top: 2%;

}

.company-title {
	background: rgba(0,0,0,0.0);
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.company-logo {
	/*background-image: url("../img/lumiere-logo.png");
	width: 637px;
	height: 263px;*/
	
	
}

.company-logo h1 {
	font-family: Megrim;
	font-size: 4em;
}

.commitments {
	height: 100%;
}

.commitments .carousel {
	height:100%;
}

.commitments .carousel-inner {
	height:100%;
}


.commitments .charity-carousel-container {
	padding-top: 0;
	padding-bottom: 0;
	height:100%;
}

.commitments .charity {
	height: 100%;
	padding-top:5%;
	padding-bottom: 5%;
	padding-left: 5%;
	background-color: black;
	color: #FCFAFF;
	
}


.donations-charity .donations-title {
	padding-bottom: 2%;
}


.donations-charity .donations-charity-content {
	padding-top: 5%;
}



/*@media(min-width: 350px) {
	/*.donations-carousel {
		height: 135%;
	} 

}

@media(min-width:768px) {
	.front-carousel {
	}

	

	.section {
		padding-left: 5%;
		padding-right: 5%;
	}

	.ja-section {
		padding-top: 5%;
	}

	.donations-carousel {
		height: 90%;
	}	

	.company-logo h1 {
		font-family: Megrim;
		font-size: 12em;
	}

	.donations-carousel {
		height: 180%;
	}
	
	.donations-carousel .company-logo h1{
	
	}

	.main-navbar {
		background: rgba(0,0,0,0.0);
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		padding: 30px;
	}

	.main-navbar.affix {
		background: rgba(0,0,0,0.7);
		padding: 15px;
	}

	.commitments-slide {
		height: 100%;
	}

	.charity-carousel-container {
		padding-top: 8%;
		padding-bottom: 4%;
	}
}

@media(min-width:1024px) {
	.carousel-fade .carousel-inner .item {
	  opacity: 0;
	  -webkit-transition-property: opacity;
	  -moz-transition-property: opacity;
	  -o-transition-property: opacity;
	  transition-property: opacity;
	}
	.carousel-fade .carousel-inner .active {
	  opacity: 1;
	}
	.carousel-fade .carousel-inner .active.left,
	.carousel-fade .carousel-inner .active.right {
	  left: 0;
	  opacity: 0;
	  z-index: 1;
	}
	.carousel-fade .carousel-inner .next.left,
	.carousel-fade .carousel-inner .prev.right {
	  opacity: 1;
	}
	.carousel-fade .carousel-control {
	  z-index: 2;
	}
	
	.section {
		padding-left: 15%;
		padding-right: 15%;
	}	
	
	.main-navbar {
		background: rgba(0,0,0,0.0);
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		padding: 30px;
	}

	.main-navbar.affix {
		background: rgba(0,0,0,0.7);
		padding: 15px;
	}

	.commitments-slide {
		height: 500px;
	}	

	.company-logo h1 {
		font-family: Megrim;
		font-size: 12em;
	} 

	.donations-carousel {
		height: 90%;
	}
}

@media(min-width:1900px) {
	.commitments-slide {
		height: 100%;

	}

	.charity-carousel-container {
		padding-top: 5%;
		padding-bottom: 4%;
	}

	.company-logo h1 {
		font-family: Megrim;
		font-size: 16em;
	}

	.donations-carousel {
		height: 65%;
	}
}

@media(min-height:768px) {
	.team-photo {

		height: 100%;
	}
} */